{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block metatags %}
<title>CYH Hukuk | Ceza Hukuku</title>
<meta name="description" content="Avukat Ceren Yılmaz Hyung tarafından kurulan CYH Hukuk'un ceza hukuku alanındaki hizmetlerini anlatan yazıdır.">
{% endblock %}

{% block body %}
<!-- start page-title -->
<section class="page-title">
<div class="container">
  <div class="row">
      <div class="col col-xs-12">
          <div class="title">
              <h2>Ceza Hukuku</h2>
          </div>
      </div>
  </div> <!-- end row -->
  <ol class="breadcrumb">
      <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
      <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
  </ol>
</div> <!-- end container -->
</section>
<!-- end page-title -->


<!-- start service-single-section -->
<section class="service-single-section section-padding">
<div class="container">
  <div class="row">
      <div class="col col-md-8 col-md-push-4">
          <div class="service-single-content">
              <div class="service-pic">
                  <img src="/static/websitesi/images/cyh-hukuk-ceza-hukuku.png" alt="Atik Hukuk Aile Hukuku Avukatı">
              </div>
              <h2>Ceza Hukuku</h2>
              <p>Her bireyin sosyal yaşantısını adaletli bir şekilde sürdürebilmesini amaçlayan ve bunun gerçekleşmesini sağlayan sistem Hukuk olarak adlandırılmaktadır. Günümüzde birçok alanda Hukuk sistemi oluşturulmuş olup devamlı olarak geliştirilmektedir. İlgili geliştirme süreçleri dahilinde bireylerin yaşamış oldukları tüm haksızlıklar ve gerçekleştirdikleri hatalı davranışlar neticesinde Hukuk sistemi uyarınca çeşitli uygulama ve cezai işlemlerin belirlenmesi adına Ceza Hukuku oluşturulmuştur. Ceza Hukuku kapsamında ele alınan tüm konularda CYH Hukuk Arabuluculuk olarak davalı ve davacı taraf için ilgili savunmanın gerçekleştirilmesi adına başta Avukat arabulucu Ceren Yılmaz Hyung olmak üzere tüm uzman kadromuz ile birlikte destek sağlamaya hazırız.</p>
              <p>Ceza Hukuku Avukatı; Ceza Hukuku kapsamında ele alınan dava süreçlerinde tarafların savunmasını gerçekleştiren ve ilgili süreç içerisinde müvekkiline gerekli bilgilendirme, yönlendirme ve desteği sağlayan uzman kişilere denir. Kadromuzda yer alan Avukat arabulucu Ceren Yılmaz Hyung, engin bilgi ve tecrübeleri dahilinde almış olduğu eğitim ve hukukun üstünlüğü kapsamında yaşanmış olan haksızlık ya da suç eylemi için gerekli savunmanın gerçekleştirilmesini sağlıyor.</p>

              <h3>Ceza Hukuku Nedir ?</h3>
              <p>Ceza Hukuku; Kamu Hukuku bünyesinde ele alınan bir hukuk dalıdır. Ceza Hukuku mevcut suçlar ve ceza kavramlarının detaylı bir şekilde ele alındığı hukuk dallarından birisidir. Genel Ceza Hukuku ve Özel Ceza Hukuku olarak kendi içerisinde iki alt başlığa ayrılmaktadır.</p>

              <p>Genel Ceza Hukuku; suç kavramlarını farklı bir bakış açısı dahilinde ele alan bu hukuk dalı, ilgili süreci maddi ve manevi anlamda ele almaktadır</p>
              <p>Özel Ceza Hukuku; herhangi bir ülke tarafından belirlenmiş kanunlar çerçevesinde gerçekleştirilmiş eylem veyahut eylemlerin ne gibi bir suç teşkil ettiği ve ilgili suç kapsamında karşılaşılacak cezanın ne olduğunu ele alan bir alt hukuk dalıdır</p>
              <p>Genel Ceza Hukuku; suç kavramlarını farklı bir bakış açısıyla ele alır. İlgili süreci maddi ve manevi olarak dikkate alır. Özel Ceza Hukuku; herhangi bir ülke tarafından belirlenmiş olan kanunlar kapsamında gerçekleştirilecek hangi eylem ya da eylemlerin suç teşkil ettiğini, ilgili eylemlerin ne ile sınırlandırıldığı ve işlenmesi halinde karşılaşılacak cezaların ne olduğu konusunu ele almaktadır.</p>
              <p>Ceza Hukuku Avukatı olarak adlandırılan kişiler ilgili hukuk alanında uzmanlaşmış bilgi ve birikimi sayesinde hukuki sürecin nasıl işlediği konusunda müvekkiline gerekli bilgiyi aktaran ve bu sürecin başından sonuna kadar müvekkilinin yanında olarak savunmasını gerçekleştiren kişilere denir. CYH Hukuk Arabuluculuk, ilgili hukuk alanında Uzman Avukat arabulucu Ceren Yılmaz Hyung başta olmak üzere tüm kadrosuyla birlikte Ceza Hukuku kapsamında ele alınan adli süreçler hakkında sizlere yardımcı olmaya hazırız.</p>
              <h3>Ceza Hukuku Neleri Kapsar, Konuları Nelerdir ?</h3>
              <p>Ceza Hukuku, bireylerin hak ve özgürlüğünün korunabilmesi için oluşturulmuş bir hukuk dalıdır. Toplum düzeninin korunabilmesi adına kanunlar çerçevesinde ele alınan en önemli hukuk dallarından birisidir. Avukat arabulucu Ceren Yılmaz Hyung, toplum düzeninin sağlanabilmesi için en önemli hukuk dallarından birisinin Ceza Hukuku olduğuna dikkat çekerek bu kapsamda ele alınan konulardan bazılarını şu şekilde belirtiyor;</p>

              <ol>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Kişi hak ve özgürlüğünün korunması</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Kamu düzen ve güvenliğinin sağlanması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Hukuk devleti, kamu sağlığı ve çevrenin korunması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Toplum içerisinde barışın hakim olmasını sağlamak</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Suç eylemlerinin işlenmesini önlemek.</li>
              </ol>

              <br>
              <h3>CYH Hukuk & Arabuluculuk Bürosu Tarafından Ceza Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
              <p>CYH Hukuk Arabuluculuk olarak Ceza hukuku kapsamında ele alınan tüm konularda tarafların şahsi ve kurumsal olarak haklarını savunabilmeleri ve bu haklar hakkında detaylı bilgi sahibi olabilmeleri için danışmanlık hizmeti sunmaktayız. Bu kapsamda Avukat Arabulucu Ceren Yılmaz Hyung ve diğer arkadaşlarımız tarafından sunulan hizmetlerden bazıları;</p>

              <ol>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Ceza soruşturmasının başlatılabilmesi için gerekli şikâyet ve suç duyurusu işlemlerinin gerçekleştirilmesi,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Gözaltı süreci içerisinde hukuki destek ve ifadeye katılma,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Şikayetçi ve müdahil vekili olarak ceza davalarının takibini gerçekleştirme,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Şüpheli ve sanık avukatı olarak ceza davaları sırasında gerekli savunma ve hukuki desteğin sağlanması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Ceza soruşturması sırasında kolluk ve savcılık süreçleri içerisinde şikayetçi ya da şüpheli tarafın temsili,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Anayasa Mahkemesi ya da Avrupa İnsan Hakları Mahkemesi’ne gerçekleştirilecek başvurular.</li>
              </ol>

              <p>İlgili dava tipleri örnek vermek amaçlı olup, CYH Hukuk Arabuluculuk bünyesinde ceza hukuku kapsamına giren tüm davalarda avukatlık hizmeti verilmektedir.</p>

          </div>
      </div>
      <div class="col col-md-4 col-md-pull-8">
          <div class="service-sidebar">
              <div class="widget service-list-widget">
                  <h3>Uzmanlık Alanları</h3>
                  <ul>
                    <li><a href="{% url 'arabuluculuk' %}">Arabuluculuk</a></li>
                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                    <li class="current"><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                    <li><a href="{% url 'fikrimulkiyethukuku' %}">Fikri Mülkiyet Hukuku</a></li>
                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                    <li><a href="{% url 'idarehukuku' %}">İdare Hukuku</a></li>
                    <li><a href="{% url 'yabancilarhukuku' %}">Yabancılar Hukuku</a></li>
                    <li><a href="{% url 'mirashukuku' %}">Miras Hukuku</a></li>
                    <li><a href="{% url 'tuketicihukuku' %}">Tüketici Hukuku</a></li>
                  </ul>
              </div>
              <div class="widget service-list-widget">
                  <h3>Son Hukuki Yayınlarımız</h3>
                  <ul>

                    {% for makale in besmakale %}
                      <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                    {% endfor %}

                  </ul>
              </div>
          </div>
      </div>
  </div>
</div> <!-- end container -->
</section>
<!-- end service-single-section -->

{% endblock %}
