{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block metatags %}
<title>CYH Hukuk | Fikri Mülkiyet Hukuku</title>
<meta name="description" content="Avukat Arabulucu Ceren Yılmaz Hyung'un fikri ve sınai haklar hukuku alanındaki çalışmalarını anlatan yazıdır.">
{% endblock %}


{% block body %}


<!-- start page-title -->
<section class="page-title">
<div class="container">
  <div class="row">
      <div class="col col-xs-12">
          <div class="title">
              <h2>Fikri Mülkiyet Hukuku</h2>
          </div>
      </div>
  </div> <!-- end row -->
  <ol class="breadcrumb">
      <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
      <li><a href="{% url 'fikrimulkiyethukuku' %}">Fikri Mülkiyet Hukuku</a></li>
  </ol>
</div> <!-- end container -->
</section>
<!-- end page-title -->


<!-- start service-single-section -->
<section class="service-single-section section-padding">
<div class="container">
  <div class="row">
      <div class="col col-md-8 col-md-push-4">
          <div class="service-single-content">
              <div class="service-pic">
                  <img src="{% static 'websitesi/images/cyh-hukuk-fikri-mulkiyet-hukuku.png' %}" alt="CYH Hukuk Patent Avukatı">
              </div>
              <h2>Fikri Mülkiyet Hukuku</h2>
              <p>Genel anlamda bir iktisadi değere sahip olan fikri emek ürünlerinin korunabilmesini amaçlayan ve bu kapsamda hayatımıza giren hukuk dalına Fikri Mülkiyet Hukuku denmektedir. Fikri Mülkiyet Hukuku çerçevesinde koruma altına alınmış fikri haklar ve sınai haklar toplamda 2 alt başlık altında ele alınmaktadır. CYH Hukuk Arabuluculuk ilgili hukuk alanı kapsamında gerekli eğitimi almış ve bu konuda müvekkillerini en iyi şekilde temsil edecek tecrübeye sahip uzman Avukat Arabulucu Ceren Yılmaz Hyung ve diğer avukat kadrosuyla hizmet vermeye hazır.</p>

              <p>Son yıllarda hızla gelişen teknoloji ve teknolojik ürünlerle birlikte Fikri Mülkiyet Hukuku kapsamında ele alınan eser ve hakların sayısında önemli bir artış gözlemlenmiş olup ilgili yasa daha da genişletilerek günümüz şartlarına ayak uydurabilecek hale getirilmiştir. Hayatımıza girmiş yeni icat ve buluşlarla birlikte Fikri Mülkiyet Hukuku kapsamı ülkemizde de genişletilmiş olması sebebiyle dinamik bir hukuk dalı olarak anılmaktadır. CYH Hukuk Arabuluculuk uzman kadrosuyla birlikte ilgili hukuki kanunlar çerçevesinde yaşanılan anlaşmazlıkların giderilmesi için başta Avukat Arabulucu Ceren Yılmaz Hyung olmak üzere tüm kadrosuyla birlikte hizmetlerini sunmaktadır.</p>



              <h3>Fikri Mülkiyet Hukuku Nedir ?</h3>
              <p>Çok hızlı bir şekilde globalleşen ticari faaliyetlerin yerli veyahut yabancı firmalar tarafından üretilmiş binlerce ürün ve hizmetin ayırt ediciliği ve karakteristik yönlerinin korunabilmesi için oluşturulmuş bir hukuk dalıdır. Fikri Mülkiyet Hukuku, ülkemizde de hızla gelişen ticari faaliyetler sonucunda çok hızlı bir şekilde geliştirilerek kapsamı genişletilmiştir. İktisadi bir değer taşıyan ürün ve fikri emeklerin korunabilmesi için hazırlanmış hukuk dalına Fikri Mülkiyet Hukuku adı verilmiştir.</p>

              <h3>Fikri Mülkiyet Hukuku Neleri Kapsar, Konuları Nelerdir ?</h3>
              <p>Fikri Mülkiyet Hukuku incelenirken kolaylık sağlanması ve konuların kapsamı doğru bir şekilde anlaşılabilmesi adına 2 alt başlığa ayrılmıştır. Bu alt başlıklar “Fikri Haklar” ve “Sınai Haklar” olarak belirlenmiştir. Her başlık altında farklı konular ele alınmakla birlikte Avukat Arabulucu Ceren Yılmaz Hyung, ilgili hukuk kapsamında uzmanlık eğitimini almış ve profesyonel çerçevede hukukun üstünlüğünü benimseyerek hizmet sunmaktadır. İlgili hizmet kapsamında müvekkillerinin menfaatleri için gerekli bilgilendirme ve çalışmaları yürüterek tüm hukuki sürecin takibini gerçekleştiren CYH Hukuk Arabuluculuk, haklardan kaynaklanan ve doğan anlaşmazlıkların önlenebilmesi ve yaşanan tüm ihlallerin çözülebilmesi için izlenmesi gereken tüm adli süreci yakından incelemektedir.</p>
              <br>
              <h4>Fikri Mülkiyet Kapsamına Giren Durumlar: </h4>

              <ol>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">İlim ve Edebiyat</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Musiki</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Güzel Sanatlar</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Sinema Eserleri vb.</li>
              </ol>
              <br>
              <h4>Sınai Hak Kapsamına Giren Durumlar: </h4>

              <ol>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Patent</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Marka</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Tasarım</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Faydalı Modeller</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Coğrafi İşaretler</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Biyoteknolojik Buluşlar</li>
              </ol>
              <br>
              <h3>cyh Hukuk Arabuluculuk Tarafından Fikri Mülkiyet Hukuku Alanında Sağlanan Bazı Hizmetler</h3>

              <p>CYH Hukuk Arabuluculuk olarak fikri ve sınai haklar kapsamında ele alınan tüm konularda tarafların haklarını savunabilmeleri ve öğrenebilmeleri için hizmet sunmaktayız. Bu kapsamda sunduğumuz hizmetlerden bazıları;</p>

              <ol>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Telif hakları,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Ticari sırların kötüye kullanılmasının önüne geçilmesi,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Birleşme, devralmalarda fikri mülkiyet hakları ile ilgili danışmanlık hizmeti,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Marka, patent, endüstriyel tasarım ve faydalı modellerin ulusal ve uluslararası alanda araştırılması, tescili, korunması ve devri işlemleri,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Marka, patent, endüstriyel tasarım ve faydalı modellerin haklarıyla ilgili her türlü danışmanlık hizmeti verilmesi ve meydana gelen uyuşmazlıklar nedeniyle doğan davaların takibi,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Lisans sözleşmelerinin hazırlanması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">Lisans verme ve alma görüşmeleri esnasında danışmanlık hizmeti.</li>
              </ol>

              <p>CYH Hukuk Arabuluculuk, Fikri Mülkiyet Hukuku kapsamına giren başta belirtilen maddeler olmak üzere tüm konularda Avukat Arabulucu Ceren Yılmaz Hyung ve diğer büro arkadaşlarımızla birlikte hizmet sunmaktadır. İlgili maddeler örnek oluşturması amacıyla belirtilmiştir.</p>

              <br>
          </div>
      </div>
      <div class="col col-md-4 col-md-pull-8">
          <div class="service-sidebar">
              <div class="widget service-list-widget">
                  <h3>Uzmanlık Alanları</h3>
                  <ul>
                    <li><a href="{% url 'arabuluculuk' %}">Arabuluculuk</a></li>
                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                    <li class="current"><a href="{% url 'fikrimulkiyethukuku' %}">Fikri Mülkiyet Hukuku</a></li>
                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                    <li><a href="{% url 'idarehukuku' %}">İdare Hukuku</a></li>
                    <li><a href="{% url 'yabancilarhukuku' %}">Yabancılar Hukuku</a></li>
                    <li><a href="{% url 'mirashukuku' %}">Miras Hukuku</a></li>
                    <li><a href="{% url 'tuketicihukuku' %}">Tüketici Hukuku</a></li>
                  </ul>
              </div>
              <div class="widget service-list-widget">
                  <h3>Son Hukuki Yayınlarımız</h3>
                  <ul>

                    {% for makale in besmakale %}
                      <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                    {% endfor %}

                  </ul>
              </div>
          </div>
      </div>
  </div>
</div> <!-- end container -->
</section>
<!-- end service-single-section -->

{% endblock %}
