{% extends 'websitesi/components/layout.html' %}
{% load static %}


{% block metatags %}
<title>CYH Hukuk | Hakkımızda</title>
<meta name="description" content="Avukat Arabulucu Ceren Yılmaz Hyung Kimdir? ve CYH Hukuk'un tanıtımını yapan yazıların bulunduğu sayfadır.">
{% endblock %}

{% block body %}

         <!-- start page-title -->
      <section class="page-title">
          <div class="container">
              <div class="row">
                  <div class="col col-xs-12">
                      <div class="title">
                          <h2>Hakkımızda</h2>
                      </div>
                  </div>
              </div> <!-- end row -->
              <ol class="breadcrumb">
                  <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
                  <li><a href="{% url 'hakkimizda' %}">Hakkımızda</a></li>
              </ol>
          </div> <!-- end container -->
      </section>
      <!-- end page-title -->


      <!-- start about-section-s3 -->
      <section class="about-section-s3 section-padding">
          <div class="container">
              <div class="row">
                  <div class="col col-md-5">
                      <div class="about-title">
                          <div class="img-holder">
                              <img src="{% static 'websitesi/images/cyh-hukuk-hakkimizda-1.png' %}" alt="CYH Hukuk Yansıma Logo">
                          </div>
                      </div>
                  </div>

                  <div class="col col-md-7">
                      <div class="about-text">
                          <div class="title-text">
                              <h2>CYH Hukuk<br>Hakkında</h2>
                              <p>Hukuk & Arabuluculuk Hizmetleri</p>
                          </div>

                          <h4>Avukat Arabulucu Ceren Yılmaz Hyung tarafından kurulan CYH Hukuk & Arabuluculuk müvekkillerine en kaliteli hizmeti sunmayı amaçlar</h4>
                          <p>CYK Hukuk Arabuluculuk olarak kurulmuş olduğumuz ilk günden buyana başta Avukat Ceren Yılmaz Hyung olmak üzere tüm ekip arkadaşlarımızla birlikte hukukun üstünlüğünü benimseyerek profesyonel hizmetler sunmaktayız. Tüm hukuki konularda müvekkillerimizi en iyi şekilde temsil ederek içinde bulundukları bu süreci en kısa sürede atlatmaları için çalışmalar yürütmekteyiz.</p>
                      </div>
                  </div>
              </div> <!-- end row -->
              <br><br><br>
              <hr>
              <div class="row">


                  <div class="col col-md-12">
                      <div class="about-text">
                          <div class="title-text">
                              <h2>Misyonumuz & <br>Vizyonumuz</h2>
                              <p>CYH Hukuk Kimdir ve Neyi Amaçlar?</p>
                          </div>

                          <h4>Vizyonumuz</h4>
                          <p>CYK Hukuk Arabuluculuk bünyesinde yer alan uzman avukatlarımızla birlikte başta arabuluculuk ve uzlaştırıcılık olmak üzere birçok alanda yıllardır hizmet vererek müvekkillerimizle bilgi ve tecrübelerimizi paylaşıyor en kısa sürede sürecin sonlandırılması adına çalışmalar yürütüyoruz. Bireysel ve kurumsal anlamda gerçek-tüzel kişiler için vermiş olduğumuz hizmet alanlarımız; iş hukuku, ticaret hukuku, medeni hukuk, alternatif uyuşmazlık çözüm yolları, idare hukuku, fikri mülkiyet hukuku, ceza hukuku, borçlar hukuku ve miras hukuku gibi alanlarda hizmet vermekteyiz. Avukat Ceren Yılmaz Hyung ve tüm CYK Hukuk Arabuluculuk ekibi, kanunlar arasına eklenen yeni maddeleri ve değişen/güncellenen tüm yasaları yakından takip ederek güncel yasalar çerçevesinde müvekkillerimizin hukuki süreçlerinde gerek duydukları tüm detayları kendilerine aktararak tüm süreci yakından takip ediyor ve kısa sürede sonuç alınmasına yardımcı oluyoruz.</p>
                          <p>Mesleki ve ahlaki değerlere uygun bir şekilde hukukun üstünlüğünü benimseyerek; her ne olursa olsun kaliteli bir hizmet anlayışı çerçevesinde Anayasa’mıza bağlı olarak temel hak ve hürriyetlerin dokunulmazlığını sağlamak adına profesyonel bir çalışma sürdürmektir.</p>
                          <h4>Misyonumuz</h4>
                          <p>CYH Hukuk & Arabuluculuk, avukatlık mesleğine başlarken etmiş olduğumuz yemin uyarınca; hukuk, ahlak, mesleki onur ve kurallarına uygun davranışlar sergilemek, müvekkil memnuniyetinin ön planda tutulduğu ve profesyonelliğimizden asla ödün vermeden müvekkillerimizin haklarını en iyi ve doğru biçimde koruyarak tüm bilgi ve tecrübelerimiz dahilinde hukukun üstünlüğü çerçevesinde kullanmaktır.</p>
                      </div>
                  </div>
              </div> <!-- end row -->


          </div> <!-- end container -->
      </section>
      <!-- end about-section-s3 -->


      <!-- start features-section-s2 -->
      <section class="features-section-s2">
          <div class="container">
              <div class="row">
                  <div class="col col-xs-12">
                      <div class="feature-grids">
                          <div class="grid">
                              <div class="icon">
                                  <i class="fi flaticon-balance"></i>
                              </div>
                              <h3>Nitelikli Avukatlık Hizmeti</h3>
                              <p>CYH Hukuk Kalitesini Sağlayan Uzman Hukuki Kadro</p>
                          </div>
                          <div class="grid">
                              <div class="icon">
                                  <i class="fi flaticon-trophy"></i>
                              </div>
                              <h3>Etkili Hukuki Danışmanlık</h3>
                              <p>Av. Arabulucu Ceren Yılmaz Hyung'un Etkili Hukuki Hizmeti</p>
                          </div>
                          <div class="grid">
                              <div class="icon">
                                  <i class="fi flaticon-courthouse"></i>
                              </div>
                              <h3>Hukukta Yıllanmış Tecrübe</h3>
                              <p>Avukat Arabulucu Ceren Yılmaz Hyung'un Yıllara Sari Tecrübesi</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div> <!-- end container -->
      </section>
      <!-- end features-section-s2 -->

              <section class="about-section-s3 section-padding">
          <div class="container">
              <div class="row">


                  <div class="col col-md-7">
                      <div class="about-text">
                          <div class="title-text">
                              <h2>Av. Arb. Ceren Yılmaz Hyung Kimdir?</h2>
                              <p>CYH Hukuk & Arabuluculuk</p>
                          </div>

                          <h4>Biyografi</h4>
                          <p>Avukat Ceren Yılmaz Hyung; 2006 yılında Başkent Üniversitesi Hukuk Fakültesi’nden mezun olması ardından yüksek lisans eğitimi için Kore Üniversitesi Uluslararası MBA’e gitmiş ve buradan 2013 yılında başarılı bir şekilde mezun olmuştur. Bu süreç içerisinde Korece’sini geliştirerek Türkçe ve İngilizcenin yanı sıra Korece’de öğrenmiştir.</p>
                          <p>Avukat Ceren Yılmaz Hyung, Başkent Üniversitesi ve Kore Üniversitesi’nde tamamlamış olduğu eğitimleri ardından uzmanlığını gelecek nesillere aktarabilmek ve onlara yol gösterici, örnek bir kişilik olabilmek adına Nişantaşı Üniversitesi’nde öğretim görevlisi olarak çalışmalarına devam etmektedir. İlgili görevi sırasında öğrencilerine İş Hukuku ve Hukuki Yazışma Teknikleri dersi vermektedir.</p>
                          <p>İstanbul Barosu’na bağlı olarak avukatlık hizmetlerini sürdüren Avukat Ceren Yılmaz Hyung, 46232 sicil numarasına sahiptir. Arabuluculuk ve Uzlaştırıcılık konusunda profesyonel çerçevede çalışmalar yürüten Hyung, 1447 (arabuluculuk) ve 4833 (Uzlaştırıcılık) sicil numaraları ile kendisine ulaşmak mümkündür.</p>
                          <br>
                      </div>
                  </div>

                  <div class="col col-md-5">
                      <div class="about-title">
                          <div class="img-holder">
                              <img src="{% static 'websitesi/images/ceren-yilmaz-hyung.png' %}" alt="Ceren Yılmaz Hyung">
                          </div>
                      </div>
                  </div>
              </div> <!-- end row -->
          </div> <!-- end container -->
      </section>


      <!-- start fun-fact-awards-section -->
      <section class="fun-fact-awards-section">
          <div class="container">
              <div class="row">
                  <div class="col col-lg-5 col-md-5">
                      <div class="funfact-grids">
                          <div class="grid">
                              <div>
                                  <h2><span class="odometer" data-count="85">00</span></h2>
                              </div>
                              <p>Müvekkil</p>
                          </div>
                          <div class="grid">
                              <div>
                                  <h2><span class="odometer" data-count="243">00</span></h2>
                              </div>
                              <p>Hukuki Çözüm</p>
                          </div>
                          <div class="grid">
                              <div>
                                  <h2><span class="odometer" data-count="385">00</span></h2>
                              </div>
                              <p style="line-height: 1">Arabuluculuk</p>
                              <p style="line-height: 1">Hizmeti</p>
                          </div>
                          <div class="grid">
                              <div>
                                  <h2><span class="odometer" data-count="5">00</span></h2>
                              </div>
                              <p>Kişilik Ekip</p>
                          </div>
                      </div>
                  </div>
                  <div class="col col-lg-7 col-md-7">
                      <div class="award-grids-outer">
                          <h2 >CYH Hukuk & Arabuluculuk</h2>
                          <div class="award-grids">
                              <div class="grid">
                                  <h3 style="color : white" class="text-center">Arabuluculukta Marka</h3>
                                  <p style="color : white" class="text-center">Avukat Arabulucu Ceren Yılmaz Hyung; CYH Arabuluculuk Bürosu ile Kaliteli Arabuluculuk Hizmeti Sunmaktadır.</p>
                              </div>
                              <div class="grid">
                                  <h3 style="color : white" class="text-center">Hızlı Süreç Yönetimi</h3>
                                  <p style="color : white" class="text-center">Avukat Ceren Yılmaz Hyung, CYH Hukuk & Arabuluculuk ile Hukuki Süreçlerinizi En Hızlı Şekilde Sonuçlandırır.</p>
                              </div>
                              <div class="grid">
                                  <h3 style="color : white" class="text-center">Dinamik Hukuk Anlayışı</h3>
                                  <p style="color : white" class="text-center">Av. Arabulucu Ceren Yılmaz Hyung Hukuki Süreçlerinizin Yönetiminde Müvekkil İhtiyaç ve İsteklerini En Üst Düzeyde Tutar</p>
                              </div>
                              <div class="grid">
                                  <h3 style="color : white" class="text-center">Tecrübeli Hukuki Kadro</h3>
                                  <p style="color : white" class="text-center">CYH Hukuk & Arabuluculuk Bürosunun Uzun Tecrübesi İle Hukuki Danışmanlık Sunan Ekibi İle Hukuki Süreçleriniz Emin Ellerde</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> <!-- end container -->
      </section>
      <!-- end fun-fact-awards-section -->
  <br><br><br>


{% endblock %}
