{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block metatags %}
<title>CYH Hukuk | İdare Hukuku</title>
<meta name="description" content="Avukat Ceren Yılmaz Hyung'un CYH Hukuk ve Arabuluculuk ile idare hukuku alanında verdiği hizmetleri anlatan sayfadır.">

{% endblock %}


{% block body %}


<!-- start page-title -->
<section class="page-title">
<div class="container">
  <div class="row">
      <div class="col col-xs-12">
          <div class="title">
              <h2>İdare Hukuku</h2>
          </div>
      </div>
  </div> <!-- end row -->
  <ol class="breadcrumb">
      <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
      <li><a href="{% url 'idarehukuku' %}">İdare Hukuku</a></li>
  </ol>
</div> <!-- end container -->
</section>
<!-- end page-title -->


<!-- start service-single-section -->
<section class="service-single-section section-padding">
<div class="container">
  <div class="row">
      <div class="col col-md-8 col-md-push-4">
          <div class="service-single-content">
              <div class="service-pic">
                  <img src="{% static 'websitesi/images/cyh-hukuk-idare-hukuku.png' %}" alt="Ceren Yılmaz Hyung İdare Avukatı">
              </div>
              <h2>İdare Hukuku</h2>
              <p>Herhangi bir uygulama sırasında vatandaşın mağduriyetine sebebiyet vermiş ve hukuka aykırı olarak gerçekleştirilmiş idari eylem ve işlemlerin son yıllarda oldukça sık yaşanması sonucunda birçok kişinin ilgisini çekmeyi başarmış İdare Hukuku, kanun kapsamında idarelerin bağlı kalmaları gereken durumlara uygun hareket edip etmediklerini takip eden ve bu kapsamda karşımıza gelen hukuki süreçleri işleyen hukuk dalıdır. CYK Hukuk Arabuluculuk olarak idareler tarafından kanunlara aykırı işlemlerin gerçekleştirilmesi halinde izlenmesi gereken hukuki süreç hakkında Avukat Arabulucu Ceren Yılmaz Hyung önderliğinde yardımcı olmaktayız.</p>

              <p>İdareler tarafından uygulanabilen yaptırım gücü bazı durumlarda oldukça ağır ve telafisi güç zararların meydana gelmesine neden olabilmektedir. İlgili İdare Hukuku kapsamında bireyler idarelere karşı hukuki ilkeler dahilinde kendilerini koruyabileceği en önemli hukuk dalıdır. CYK Hukuk Arabuluculuk olarak devlet teşkilatı altında faaliyetlerini sürdüren idari merciler hakkında bağımsız otoriteler tarafından gerçekleştirilen işlemlere karşı idari başvuru işlemlerini gerçekleştiriyor ve ilgili sürecin takibini yapıyoruz. Avukat Arabulucu Ceren Yılmaz Hyung ve diğer kadro arkadaşlarımızla birlikte gerçekleştirmiş olduğumuz idari başvurunun talep edilen şekilde sonuçlandırılması halinde, idare mahkemeleri nezdinde iptalini talep ederiz. İlgili davanın takip ve sonuçlandırılmasını sağlarız.</p>

              <h3>İdare Hukuku Nedir ?</h3>
              <p>Anayasa kapsamında temellendirilmiş, idarelerin çalışmaları ve teşkilatlanmalarını içeren ve bunlarla ilgili tüm kuralların yer aldığı, kamuya sağlanmış üstünlük ve ayrıcalıklar neticesinde bireylerin sahip olduğu hak ve hürriyetleri arasındaki dengenin sağlanmasını sağlayan hukuk dalına idare hukuku denir. İdare hukuku kapsamında karşımıza çıkan birçok alt hukuki dal bulunmaktadır.</p>

              <ol>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">•	İdare Hukuku kapsamında kamulaştırma ve imar mevzuatına ilişkin yaşanan uyuşmazlıkların çözüme kavuşturulması adına idari mercilerde iş takibi, danışmanlık ve dava takip işlemlerini gerçekleştiririz,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">•	Memurlara yönelik gerçekleştirilen disiplin cezaları hakkında karşı savunmanın hazırlanması, ilgili cezalara karşı dava takibi ve derece ilerleme tazminat davalarının takibini gerçekleştirerek sonuçlandırılmasını sağlarız,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">•	Vergisel alanda gerçekleştirilen sık değişiklik ve yenilikler neticesinde Devlet ve Mükellef arasında yaşanan vergi uyuşmazlığının çözülebilmesi için çalışmalar yürütürüz,</li>
              </ol>
              <br>

              <h3>CYK Hukuk ve Arabuluculuk Tarafından İdare Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
              <p>CYK Hukuk ve Arabuluculuk olarak idare kapsamında ele alınan tüm konularda tarafların haklarını savunabilmeleri ve öğrenebilmeleri için hizmet sunmaktayız. Bu kapsamda Avukat Arabulucu Ceren Yılmaz Hyung tarafından sunulan hizmetlerden bazıları aşağıdaki gibidir;</p>

              <ol>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> İdarenin sahip olduğu sorumluluklar nedeniyle dava açılması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Hukuka aykırı bir idari işlemin iptaline ilişkin dava açılması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> İdari para cezalarına karşı itiraz & iptal davalarının açılması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> İmar hukukuna ilişkin ihtilafların çözüme ulaştırılması, çözüm yolları & imar davaları takibi,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> İhale hukukuna ilişkin ihtilafların çözüme kavuşturulması ve ihale davaları takibi,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Kamulaştırma ile bağlantılı davaların yürütülmesi ve takibi,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Memur davalarının yürütülmesi,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Öğrenci davaları açılması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Karayolları ve Trafik Davalarının sonuçlandırılması.</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> İdari sözleşmelerden doğmuş davaların açılması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Vergi uyuşmazlıklarının idari aşamada uzlaşma yoluna başvurularak çözüme kavuşturulması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Vergi uyuşmazlıklarında idari aşamada gerçekleşmiş cezaların indirim yoluyla çözüme ulaştırılması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Vergi uyuşmazlıklarında idari aşamada düzeltme uygulanarak çözüme ulaşma,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Vergi uyuşmazlıklarının yargı aşaması içerisinde dava yoluna başvurularak çözüme kavuşturulması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Vergi suç ve cezaları hakkında danışmanlık hizmeti,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Özelge başvuruları gerçekleştirilmesi,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Vergi inceleme raporları ve vergi/ceza ihbarnameleri hakkında her türlü hukuki danışmanlık hizmetinin sunulması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Belediye Kanunu’na ilişkin yaşanmış olan tüm uyuşmazlık ve çözüm yolları hakkında hukuki danışmanlık ve avukatlık,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Gümrük Kanunu çerçevesinde doğan uyuşmazlık ve çözüm yolları hakkında birey ve kurumlara danışmanlık ve avukatlık hizmeti sunulması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Gerçekleştirilen eylem, hizmet vb. çalışmalar sonucunda herhangi birisinde kusur olmasa dahi zarar görmüş müvekkillere hukuki danışmanlık ve avukatlık hizmeti sunulması. </li>

              </ol>

          </div>
      </div>
      <div class="col col-md-4 col-md-pull-8">
          <div class="service-sidebar">
              <div class="widget service-list-widget">
                  <h3>Uzmanlık Alanları</h3>
                  <ul>
                    <li><a href="{% url 'arabuluculuk' %}">Arabuluculuk</a></li>
                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                    <li><a href="{% url 'fikrimulkiyethukuku' %}">Fikri Mülkiyet Hukuku</a></li>
                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                    <li class="current"><a href="{% url 'idarehukuku' %}">İdare Hukuku</a></li>
                    <li><a href="{% url 'yabancilarhukuku' %}">Yabancılar Hukuku</a></li>
                    <li><a href="{% url 'mirashukuku' %}">Miras Hukuku</a></li>
                    <li><a href="{% url 'tuketicihukuku' %}">Tüketici Hukuku</a></li>
                  </ul>
              </div>
              <div class="widget service-list-widget">
                  <h3>Son Hukuki Yayınlarımız</h3>
                  <ul>

                    {% for makale in besmakale %}
                      <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                    {% endfor %}

                  </ul>
              </div>
          </div>
      </div>
  </div>
</div> <!-- end container -->
</section>
<!-- end service-single-section -->

{% endblock %}
