{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block metatags %}
<title>CYH Hukuk | İş Hukuku</title>
<meta name="description" content="Arabulucu Ceren Yılmaz Hyung'un İş ve Sosyal Güvenlik Hukuku alanında verdiği hizmetleri anlatan tanıtıcı sayfadır.">
{% endblock %}


{% block body %}


<!-- start page-title -->
<section class="page-title">
<div class="container">
  <div class="row">
      <div class="col col-xs-12">
          <div class="title">
              <h2>İş Hukuku</h2>
          </div>
      </div>
  </div> <!-- end row -->
  <ol class="breadcrumb">
      <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
      <li><a href="{% url 'ishukuku' %}">İş Hukuku</a></li>
  </ol>
</div> <!-- end container -->
</section>
<!-- end page-title -->


<!-- start service-single-section -->
<section class="service-single-section section-padding">
<div class="container">
  <div class="row">
      <div class="col col-md-8 col-md-push-4">
          <div class="service-single-content">
              <div class="service-pic">
                  <img src="{% static 'websitesi/images/cyh-hukuk-is-ve-sosyal-guvenlik-hukuku.png' %}" alt="CYH Hukuk İş Hukuku Avukatı">
              </div>
              <h2>İş Hukuku</h2>
              <p>İş Hukuku, işçi ve işveren arasında gerçekleşen her türlü ilişki kapsamında tarafların karşılıklı olarak hak ve görevleri, işe ve işyerine dair yasa ve yönetmeliklerin konu edinildiği önemli bir hukuk dalıdır. Günümüzde yaşantımızı sürdürebilmek için hemen hemen herkesin bir işte çalıştığı göz önünde bulundurulduğunda “İş Hayatı” kavramının ortaya çıkmasıyla birlikte önemi büyük ölçüde artan ilgili hukuk dalı, işçi ve işveren için özel olarak oluşturulmuş ve her iki tarafında hakkını savunabilmesi için düzenlenmiştir. CYH Hukuk Arabuluculuk olarak işçi ve işveren taraflı yaşanan anlaşmazlıkların çözülebilmesi için İş Hukuku kapsamında eğitim almış Avukat Arabulucu Ceren Yılmaz Hyung başta olmak üzere tüm kadromuzla birlikte danışmanlık ve avukatlık hizmeti sunmaya hazırız.</p>
              <p>Hukukun üstünlüğü ve güncel yasalar kapsamında yaşanan sorunların en hızlı şekilde çözüme ulaştırılabilmesi, işçi ve işverenin haklarının savunularak adaletli, tarafsız bir çalışma yürütüyor müvekkillerimizin menfaati doğrultusunda sonuçlar elde etmek için hukuki sürecin yakın takipçisi oluyoruz.</p>


              <h3>İş Hukuku Nedir ?</h3>
              <p>İş, işçi ve işverenin ele alındığı her konu İş Hukuku kapsamına girmektedir. İşveren ve işçi arasında yaşanan tüm anlaşmazlık ve uyuşmazlıkların kanun kapsamında düzene oturtulması ve sorunların çözüme kavuşturulması için hazırlanan İş Hukuku oldukça önemli ve geniş kapsamlı bir hukuk dalıdır. Bu nedenle İş Hukuku kapsamında ele alınması gereken konularda CYH Hukuk Arabuluculuk olarak müvekkillerimizin menfaati için ilgili tüm kanunları yakından takip ediyor yaşanan gelişme ve düzenlemelerden anında haberdar oluyor ve bu kapsamda Avukat Arabulucu Ceren Yılmaz Hyung önderliğinde çalışmalar yürütüyoruz.</p>
              <p>İş Hukuku, SGK, iş ve işçi bulma kurumu vb. tüm dernek ve kurumlarla olan ilişkilerin düzenlenmesine de katkı sunan bir hukuk dalıdır. Bu kapsamda İş Mahkemelerinde görülen ve İş Kanunu kapsamında ele alınan işçi ve işveren arasında yaşanmış uyuşmazlık ve sorunların çözümü için işçi ve işveren arasında resmi olarak gerçekleştirilmiş sözleşmeler de dikkate alınarak hukuki sürecin işlemesini sağlıyoruz.</p>

              <h3>İş Hukuku Neleri Kapsar, Konuları Nelerdir ?</h3>
              <p>Avukat Arabulucu Ceren Yılmaz Hyung, İş Hukuku’nun kendi içerisinde 2 alt başlık dahilinde incelendiğini belirterek bu başlıkların ayrımının doğru bir şekilde yapılması gerektiğini belirtiyor.</p>

              <h4>1) Bireysel İş Hukuku</h4>
              <p>Çoğunlukla işçi sayısı bakımından küçük çaplı işletmelerde iş görme, işçi ve işveren ilişkilerinin düzenlenmesini sağlayan ve ilgili işletmelerde taraflar arasında yaşanan uyuşmazlıkların çözüme kavuşturulabilmesi, yaşanan sözleşme ihlalleri, işçinin davranışları sonucunda meydana gelmiş bozukluk ve iş sözleşmesine bağlı kalınmaması gibi durumların ele alınarak düzenlendiği kanunları kapsar.</p>
              <h4>Toplu İş Hukuku</h4>
              <p>Çoğunlukla işçi sayısı bakımından büyük çaplı işletmeler ve sendikalarda uygulanır. İlgili kurumlarda gerçekleştirilen toplu iş sözleşmelerinde hak ve menfaat uyuşmazlıklarının ve bunlardan doğan uyuşmazlıkların çözülebilmesi için grev, lokavt, arabuluculuk ve hakem kuralları gibi birçok konunun ele alındığı hukuki kurallardır.</p>

              <h3>İşverenin Yükümlülükleri</h3>
              <p> <strong>İşçinin ücretini ödeme:</strong> İşveren ve işçi arasında gerçekleştirilmiş olan sözleşme neticesinde işçinin sözleşmede belirtildiği üzere kendisine verilen görevi tamamlaması sonucunda işverenin işçiye ilgili ödemeyi zamanında yapması zorunludur.</p>
              <p><strong>İşçinin Kullanması Gereken Araç, Gereç ve Donanımı Temin Etme Borcu: </strong> İşçinin iş görebilmesi için işveren tarafından işçinin ihtiyaçları doğrultusunda gerekli donanımların temin edilmesi.</p>
              <p><strong>İşçi Sağlığını Koruma Borcu: </strong>İşveren, işçinin çalışma alanında gerekli güvenliği sağlamakla yükümlüdür.</p>
              <p><strong>İşçiye Eşit Davranma Borcu: </strong>İşveren, iş dışında samimi olduğu bir işçisi ile diğer işçilerini ayırt edemez.</p>
              <p><strong>Doğum İzni Borcu: </strong> İş Kanunu 74. Maddesi uyarınca kadın işçiler doğum öncesi 8 ve doğum sonrası 8 hafta olmak üzere 16 hafta izin kullanabilmektedir. Doktor onayı ile birlikte doğum öncesi çalışabileceğine dair rapor alınması halinde doğum öncesi izin hakkı doğum sonrası iznine dahil edilebilir. </p>

              <h3>CYH Hukuk & Arabuluculuk Bürosu Tarafından İş Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
              <p>CYH Hukuk Arabuluculuk olarak İş Hukuku kapsamına giren hemen her konuda; işçi ve işveren arasında yaşanmış olan sorunların çözümü, ilişkilerin düzenlenmesi ve ilgili hizmetle ilgili sözleşmelerin hazırlanması başta olmak üzere işe alım ve işten çıkarma konularında izlenmesi gereken usuller, insan kaynakları yönetiminin gerçekleştirilmesi gibi tüm konularda hukuki danışmanlık ve avukatlık hizmeti sunmaktayız. Bu kapsamda Avukat Arabulucu Ceren Yılmaz Hyung ve diğer kadro arkadaşlarımızla birlikte sunmuş olduğumuz hizmetlerden bazıları ise şu şekilde;</p>

              <ol>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> İhbar, kıdem ve işe iade davası açılması ve takibin gerçekleştirilmesi,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Fazla mesai ücretlerinin hesaplanması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Yıllık ücretli iznin kullandırılması ve hesaplanması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> İşçi ve işyeri güvenliği konusunda dikkat edilmesi gereken konularda hukuki danışmanlık,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Güncel mevzuata uygun bir şekilde sözleşmelerin hazırlanması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Çalışan/Çalışanların yararlanma, ölüm ve iş görmezlik halleri ile ilgili davaların takibi,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Performans düşüklüğü, ekonomik sebepler ve benzeri haklı sebepler nedeniyle iş sözleşmesinin feshi halleri.</li>
              </ol>

              <br>
          </div>
      </div>
      <div class="col col-md-4 col-md-pull-8">
          <div class="service-sidebar">
              <div class="widget service-list-widget">
                  <h3>Uzmanlık Alanları</h3>
                  <ul>
                    <li><a href="{% url 'arabuluculuk' %}">Arabuluculuk</a></li>
                    <li class="current"><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                    <li><a href="{% url 'fikrimulkiyethukuku' %}">Fikri Mülkiyet Hukuku</a></li>
                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                    <li><a href="{% url 'idarehukuku' %}">İdare Hukuku</a></li>
                    <li><a href="{% url 'yabancilarhukuku' %}">Yabancılar Hukuku</a></li>
                    <li><a href="{% url 'mirashukuku' %}">Miras Hukuku</a></li>
                    <li><a href="{% url 'tuketicihukuku' %}">Tüketici Hukuku</a></li>
                  </ul>
              </div>
              <div class="widget service-list-widget">
                  <h3>Son Hukuki Yayınlarımız</h3>
                  <ul>

                    {% for makale in besmakale %}
                      <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                    {% endfor %}

                  </ul>
              </div>
          </div>
      </div>
  </div>
</div> <!-- end container -->
</section>
<!-- end service-single-section -->

{% endblock %}
