{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block metatags %}
<title>CYH Hukuk | Miras Hukuku</title>
<meta name="description" content="Arabulucu Avukat Ceren Yılmaz Hyung'un CYH Hukuk ile miras hukukundaki faaliyetlerini anlatan tanıtıcı sayfadır.">

{% endblock %}


{% block body %}

<!-- start page-title -->
<section class="page-title">
<div class="container">
  <div class="row">
      <div class="col col-xs-12">
          <div class="title">
              <h2>Miras Hukuku</h2>
          </div>
      </div>
  </div> <!-- end row -->
  <ol class="breadcrumb">
      <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
      <li><a href="{% url 'mirashukuku' %}">Miras Hukuku</a></li>
  </ol>
</div> <!-- end container -->
</section>
<!-- end page-title -->


<!-- start service-single-section -->
<section class="service-single-section section-padding">
<div class="container">
  <div class="row">
      <div class="col col-md-8 col-md-push-4">
          <div class="service-single-content">
              <div class="service-pic">
                  <img src="{% static 'websitesi/images/cyh-hukuk-miras-hukuku.png' %}" alt="CYH Hukuk Miras Hukuku Avukatı">
              </div>
              <h2>Miras Hukuku</h2>
              <p>Medeni Hukukun alt kollarından birisi olan Miras Hukuku, bireylerin vefatından kaynaklanan durumlarda kişiye ait mirasın hangi şartlar altında mirasçılara aktarılacağı gibi detayların işlenerek düzenlendiği bir hukuk dalıdır. İlgili hukuk dalı kapsamında yalnızca miras değil aynı zamanda mirasçılar içinde maddeler hazırlanmış olup kişinin mirasçı olabilmek için yerine getirmesi gereken temel şartlar açıkça belirtilmiştir. CYH Hukuk Arabuluculuk olarak Miras Hukuku kapsamında ele alınan tüm anlaşmazlıkların çözümü için yasal çerçevede danışmanlık ve adli sürecin takibi ve savunmanın gerçekleştirilmesi adına avukatlık hizmeti sunmaktayız. Miras Hukuku alanında uzmanlaşmış Avukat Arabulucu Ceren Yılmaz Hyung ve diğer avukat arkadaşlarımızla birlikte sizlere yardımcı olmak için her an hazırız.</p>

              <h3>Miras Hukuku Nedir ?</h3>
              <p>Miras Hukuku, ölüm ya da gaiplik halinde kişiye ait mirasın kimlere hangi şartlar dahilinde intikal edeceğinin düzenlenmiş olduğu bir hukuk dalıdır. Bireylerin mirastan yararlanma hakları anayasa çerçevesinde korunan bir anayasal haktır. Temelinde Anayasanın 35. Maddesinden alan Miras hakkı konusu ile ilgili gerçekleştirilen düzenlemeler Türk Medeni Kanunu kapsamında üçüncü kitap 495 ila 682. Maddeler arasında yer almıştır.</p>
              <p>Bu kapsamda CYH Hukuk Arabuluculuk olarak Miras Hukuku kapsamında ele alınan; yasal mirasçılar, atanmış mirasçılar, mirası kazanma, miras sözleşmesi, vasiyetname, ölüme bağlı tasarruflar, tereke, muris muvazaası, muris muvazaası sebebiyle tasarrufun iptali, mirasın reddi, mirasın reddinin iptali, saklı pay, saklı paya tecavüz eden tasarrufun tenkisi vb. başta olmak üzere hemen hemen her konuda hukuki danışmanlık ve avukatlık hizmeti sağlamaktayız. İlgili alanda gerekli eğitimini tamamlamış ve uzmanlaşmış Avukat Arabulucu Ceren Yılmaz Hyung ve diğer ekip arkadaşlarımızla ilgili miras ile bağlantılı olan ve sorun yaşadığınız her konuda sizlere yardımcı oluyoruz.</p>

              <h4>Mirasçı Olabilmek için Kanunen Aranan Şartlar</h4>
              <p>Miras Hukuku kapsamında mirasçı sayılabilmek için bazı şartların sağlanıyor olması gerekmektedir. Bu şartlar arasında en dikkat çekici ve önemli olanlar ise; bireyin sağ ve tam doğmuş olması, hayatta olması, medeni haklardan yararlanmak ve mirastan yoksun kalmamış olması gerekmektedir</p>

              <h3>CYH Hukuk ve Arabuluculuk Bürosu Tarafından Miras Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
              <p>CYH Hukuk ve Arabuluculuk olarak miras hukuku kapsamında ele alınan tüm konularda tarafların haklarını savunabilmeleri ve öğrenebilmeleri için hizmet sunmaktayız. Bu kapsamda Avukat Arabulucu Ceren Yılmaz Hyung başta olmak üzere avukatlarımızın sunmuş olduğu hizmetlerden bazıları;</p>


              <ol>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Mirasçılık belgesi verilmesi davası,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Atanmış kişiye mirasçılık belgesi verilmesi davası,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Mirasçılık belgesinin iptali ve yeni mirasçılık belgesinin verilmesi davası,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Mirastan yoksunluğun tespiti davası,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Miras sözleşmelerinden doğan davalar,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Mirasta istihkak davası,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Miras sözleşmesinin ortadan kaldırılmasına ilişkin davalar,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Terekenin korunmasına ilişkin davalar,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Terekenin mevcudunun tespitine dair davalar,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Mirasçının gaipliğine karar verilmesi davası,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Mirasın paylaştırılması talebine ilişkin davalar,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Gaiplik ve malvarlığının hazineye intikali davası,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Alacaklıların mirasın reddinin iptaline ilişkin davaları,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> İflas idaresinin mirasın reddine iptaline ilişkin davaları,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Miras taksim sözleşmesinin iptali davası,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Vasiyetnamenin iptali davası,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Vasiyetnamenin açılması ve ilgililere okunmasına ilişkin davalar,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Mirasın reddi kararının iptali davası,</li>
              </ol>
              <br>

              <p>Başta olmak üzere Miras Hukuku kapsamında ele alınan hemen hemen her dava türüne ilişkin danışmanlık ve avukatlık hizmeti Avukat Arabulucu Ceren Yılmaz Hyung tarafından sağlanmaktadır. CYH Hukuk Arabuluculuk olarak müvekkillerimizin miras konulu adli süreçleri hakkında gerekli araştırmayı yaparak ilgili adli sürecin yakından takip edilmesi ve savunmanın gerçekleştirilmesini sağlamak için hizmete hazırız. Merak ettiğiniz tüm konularda bizimle bağlantıya geçebilir ve bilgi alabilirsiniz.</p>
          </div>
      </div>
      <div class="col col-md-4 col-md-pull-8">
          <div class="service-sidebar">
              <div class="widget service-list-widget">
                  <h3>Uzmanlık Alanları</h3>
                  <ul>
                    <li><a href="{% url 'arabuluculuk' %}">Arabuluculuk</a></li>
                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                    <li><a href="{% url 'fikrimulkiyethukuku' %}">Fikri Mülkiyet Hukuku</a></li>
                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                    <li><a href="{% url 'idarehukuku' %}">İdare Hukuku</a></li>
                    <li><a href="{% url 'yabancilarhukuku' %}">Yabancılar Hukuku</a></li>
                    <li class="current"><a href="{% url 'mirashukuku' %}">Miras Hukuku</a></li>
                    <li><a href="{% url 'tuketicihukuku' %}">Tüketici Hukuku</a></li>
                  </ul>
              </div>
              <div class="widget service-list-widget">
                  <h3>Son Hukuki Yayınlarımız</h3>
                  <ul>

                    {% for makale in besmakale %}
                      <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                    {% endfor %}

                  </ul>
              </div>
          </div>
      </div>
  </div>
</div> <!-- end container -->
</section>
<!-- end service-single-section -->

{% endblock %}
