{% extends 'websitesi/components/layout.html' %}
{% load static %}


{% block metatags %}
<title>CYH Hukuk | Sözleşmeler Hukuku</title>
<meta name="description" content="Arabulucu Ceren Yılmaz Hyung'un sözleşmeler ve borçlar hukuku alanındaki çalışmalarını anlatan tanıtıcı sayfadır.">

{% endblock %}


{% block body %}


<!-- start page-title -->
<section class="page-title">
<div class="container">
  <div class="row">
      <div class="col col-xs-12">
          <div class="title">
              <h2>Sözleşmeler Hukuku</h2>
          </div>
      </div>
  </div> <!-- end row -->
  <ol class="breadcrumb">
      <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
      <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
  </ol>
</div> <!-- end container -->
</section>
<!-- end page-title -->


<!-- start service-single-section -->
<section class="service-single-section section-padding">
<div class="container">
  <div class="row">
      <div class="col col-md-8 col-md-push-4">
          <div class="service-single-content">
              <div class="service-pic">
                  <img src="{% static 'websitesi/images/cyh-hukuk-sozlesmeler-hukuku.png' %}" alt="CYH Hukuk Sözleşme Avukatı">
              </div>
              <h2>Sözleşmeler Hukuku</h2>
              <p>Hayatımızın her alanında karşımıza çıkan borç ilişkileri günlük hayatımızın vazgeçilmezlerinden birisi haline gelmiştir. Marketten alacağımız bir ekmek ya da işyerimize/okulumuza giderken bineceğimiz otobüs için alacağımız bilet dahi belirli bir sözleşme dahilinde gerçekleştirilen eylemlerdir. Medeni bir çerçevede ele aldığımızda hayatımızın sürdürülebilir olabilmesi için çeşitli borç ilişkileri içerisine girmemizin zorunlu olduğu görülmektedir. CYH Hukuk Arabuluculuk olarak hayatımızın belirli bir düzen içerisinde sürdürülebilmesi ve yaşanılan hukuki uyuşmazlıkların çözüme ulaştırılabilmesi adına Avukat arabulucu Ceren Yılmaz Hyung ve diğer uzman arkadaşlarımızla her zaman yanınızdayız.</p>
              <p>Borçlar Hukuku kavramının doğru bir şekilde anlaşılabilmesi ve bu kapsamda ele alınan konuların neler olduğu ve CYH Hukuk Arabuluculuk olarak hizmet sağladığımız başlıca borçlar hukuku konularının hangileri olduğunu sizlere açıklamak istiyoruz. İlgili alanlar hakkında kafalarda oluşmuş soruların cevaplanabilmesi ve kafa karışıklıklarının giderilebilmesi adına ilgili yazıyı hazırlamış bulunup, Avukat arabulucu Ceren Yılmaz Hyung başta olmak üzere uzman kadromuzla birlikte ilgili süreçlerin baştan sonuna kadar yanınıza olduğumuzu hatırlatmak istiyoruz.</p>

              <h3>Borçlar(Sözleşmeler) Hukuku Nedir ?</h3>
              <p>Borçlar Hukuku kısaca kişiler arasındaki özel borç ilişkilerinin düzenlenmesini sağlayan bir hukuk dalıdır diyebiliriz. Borç ilişkisi; iki veya daha fazla kişi arasında taraflardan birinin diğerine karşı belirli bir davranışta bulunma yükümlülüğü kılan hukuki bir ilişkidir. İlgili borç ilişkisinin konusu çok çeşitli olabilir. Bu durum genellikle sözleşmeler dahilinde gerçekleşir.</p>

              <p>Günlük yaşantımızı devam ettirmemizi sağlayan neredeyse tüm mal ve hizmetlerin dolaşım süreci belirli sözleşmeler dahilinde gerçekleştirilmektedir. İlgili sözleşmeleri düzenleyen hukuk dalının ismi ise Borçlar Hukukudur. Farklı bir şekilde açıklamak gerekirse Borçlar Hukuku; kişilerin haksız fiile sonucunda mal veya şahıs varlıklarında meydana gelen azalma ya da zararın telafisinin sağlanmasıyla ilgilidir. Bu yönü dikkate alındığında Borçlar Hukuku, kişilerin zarar görmelerinin önlenmesini veyahut ortaya çıkmış zararın giderilmesini amaç edinmiş bir hukuk dalıdır. Avukat arabulucu Ceren Yılmaz Hyung, borçlar hukuku kapsamında ele alınan uyuşmazlıkların çözüme kavuşturabilmesi adına uzmanlığı çerçevesinde hizmetlerini sunmaktadır.</p>

              <h3>CYH Hukuk ve Arabuluculuk Tarafından Borçlar Hukuku Alanında Sağlanan Bazı Hizmetler</h3>

              <p>CYH Hukuk ve Arabuluculuk bünyesinde hizmet sağlayan Avukat arabulucu Ceren Yılmaz Hyung, borçludan alacağını tahsil edemeyen veya etmekte güçlük çeken kişiler için alacak davaları, bireyin gördüğü malvarlığında, psikolojisinde ya da vücut bütünlüğünde meydana gelmiş zararlar neticesinde maddi ve manevi tazminat davaları, kira tespiti ve kiranın artırımı gibi birçok konuda açılacak davaların takip işlemlerini gerçekleştirmektedir.</p>
              <p>Aynı zamanda kişiler tarafından satın alınmış mal ve hizmetlerde kusur olması halinde ilgili ayıplı mal veyahut hizmete ilişkin açılabilecek davalar konusunda ilgili hukuki sürecin takip edilmesi ve avukatlık hizmeti sağlamaktadır. Bunlara ek olarak;</p>

              <ol>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Zilyetliğin naklinde yaşanan ihtilaflara ilişkin davalar,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Alacaklının ve borçlunun temerrüdüne ilişkin davalar,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Taşınır ve taşınmaz malların devredilmesi ve satılmasına ilişkin davalar,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Kat mülkiyetinden doğan ihtilaflar,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> İpotek ve rehin tesisi işleri,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Sebepsiz zenginleşme,</li>
              </ol>
              <br>

              <p>için takip işlemlerinin yürütülmesi konusunda yardımcı olmaktadır. CYH Hukuk ve Arabuluculuk, müvekkillerinin menfaatlerini gözeterek uzmanlığı ve hukukun üstünlüğü çerçevesinde en uygun sürecin başlatılması ve takip edilmesini sağlayarak ilgili süreçte hizmet sağladığı tarafa yardımcı olmaktadır.</p>
          </div>
      </div>
      <div class="col col-md-4 col-md-pull-8">
          <div class="service-sidebar">
              <div class="widget service-list-widget">
                  <h3>Uzmanlık Alanları</h3>
                  <ul>
                    <li><a href="{% url 'arabuluculuk' %}">Arabuluculuk</a></li>
                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                    <li><a href="{% url 'fikrimulkiyethukuku' %}">Fikri Mülkiyet Hukuku</a></li>
                    <li class="current"><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                    <li><a href="{% url 'idarehukuku' %}">İdare Hukuku</a></li>
                    <li><a href="{% url 'yabancilarhukuku' %}">Yabancılar Hukuku</a></li>
                    <li><a href="{% url 'mirashukuku' %}">Miras Hukuku</a></li>
                    <li><a href="{% url 'tuketicihukuku' %}">Tüketici Hukuku</a></li>
                  </ul>
              </div>
              <div class="widget service-list-widget">
                  <h3>Son Hukuki Yayınlarımız</h3>
                  <ul>

                    {% for makale in besmakale %}
                      <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                    {% endfor %}

                  </ul>
              </div>
          </div>
      </div>
  </div>
</div> <!-- end container -->
</section>
<!-- end service-single-section -->

{% endblock %}
