{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block metatags %}
<title>CYH Hukuk | Ticaret Hukuku</title>
<meta name="description" content="CYH Hukuk ve Arabuculuk bürosunun ticaret hukuku alanında müvekkillerine sunduğu hizmetleri anlatan sayfadır.">
{% endblock %}


{% block body %}


<!-- start page-title -->
<section class="page-title">
<div class="container">
  <div class="row">
      <div class="col col-xs-12">
          <div class="title">
              <h2>Ticaret Hukuku</h2>
          </div>
      </div>
  </div> <!-- end row -->
  <ol class="breadcrumb">
      <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
      <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
  </ol>
</div> <!-- end container -->
</section>
<!-- end page-title -->


<!-- start service-single-section -->
<section class="service-single-section section-padding">
<div class="container">
  <div class="row">
      <div class="col col-md-8 col-md-push-4">
          <div class="service-single-content">
              <div class="service-pic">
                  <img src="{% static 'websitesi/images/cyh-hukuk-ticaret-hukuku.png' %}" alt="CYH Hukuk Ticaret Hukuku Avukatı">
              </div>
              <h2>Ticaret Hukuku"</h2>
              <p>Özel Hukuk kapsamında ele alınan Ticaret Hukuku, günlük hayatımız içerisinde gerçekleştirmiş olduğumuz her ticari faaliyeti kapsamakla birlikte bu faaliyetlerin düzenlenmesi ve bir düzen çerçevesinde işlemesini sağlamayı amaç edinmiş ve bu düzenin korunmasını sağlamak isteyen bir hukuk dalıdır. Hayatımızın her anında karşımıza çıkan ve günümüzde insan yaşamının vazgeçilmezlerinden birisi haline gelen ticaret, ilgili hukuk dalının çok daha önemli bir yere gelmesini ve geliştirilmesine yol açmıştır. CYH Hukuk Arabuluculuk olarak Ticaret Hukuku’nun birçok hukuk dalıyla bağlantılı olduğunu belirterek, ilgili alanda özel bir ilgi ve uzmanlığa ihtiyaç duyulduğunu belirtmek istiyoruz. Tecrübeli ve uzman kadromuzda yer alan Avukat Arabulucu Ceren Yılmaz Hyung, Ticaret Hukuku konusunda ihtiyaç duymuş olduğunuz her türlü konuda danışmanlık ve avukatlık hizmeti sağlamaktadır.</p>


              <h3>Ticaret Hukuku Nedir ?</h3>
              <p>Ticaret Hukuku; üretim, değişim ve tüketime ilişkin aktivitelerin düzenlenebilmesi amacıyla hayatımıza girmiş, özel hukuk kapsamında değerlendirilen önemli bir hukuk dalıdır. Birçok hukuk dalıyla bağlantılı olması sebebiyle oldukça geniş çaplı bir uzmanlığa ihtiyaç duyar. Medeni Hukuk’un ardından en geniş kapsamlı hukuk dalı olarak kabul edilebilir.</p>

              <p>Ticaret Hukuku kapsamış olduğu alanlar incelendiğinde medeni ve borçlar hukuku ile karşılaştırılamayacak bir konumda yer alıyor olmasına rağmen ilgili hukuk dallarıyla da önemli bağlantılara sahiptir ve bazı anlaşmazlıkların çözümü için ilgili hukuk dallarına da başvurulması gerekebilmektedir. Avukat Arabulucu Ceren Yılmaz Hyung, Ticaret Hukuku dışında medeni ve borçlar hukuku alanlarında da uzmanlık eğitimi alarak ilgili alanlarda uzun yıllardır tecrübe edinmiş bir avukat olarak müvekkillerine en ideal çözüm yoluna yönlendirmek için danışmanlık ve avukatlık hizmeti sunmaktadır.</p>
              <h3>Ticaret Hukuku Neleri Kapsar, Konuları Nelerdir ?</h3>

              <p>Günlük hayatımız içerisinde marketten satın alacağımız bir sakız dahi bir ekonomik faaliyet olmakla birlikte ticaret hukuku kapsamına girmektedir. Tüm ekonomik faaliyetler ele alındığında hepsi bir Ticari Faaliyet olarak görülmekle birlikte Ticaret Hukuku kapsamına girmektedir. Toplum içerisinde birçok işletmenin temel gelir kaynağı gerçekleştirmiş oldukları ticari faaliyetler olarak görülmektedir ve her geçen gün hızla artarak büyüyen ticari şirketler ekonomik sistem üzerinde oldukça önemli bir güce sahip olmuştur. Bu nedenle Ticaret Hukuku giderek popülerleşmekle birlikte önemi artan bir hukuk dalı olmuştur.</p>
              <p>Avukat Arabulucu Ceren Yılmaz Hyung, gün içerisinde gerçekleştirilen ticari ilişkilerin her geçen gün daha karmaşık bir hal almaya başladığı ve ilgili ilişkiler içerisinde yaşanan anlaşmazlıklarda büyük bir artış gözlemlendiğini belirterek gerçekleşmesi mümkün anlaşmazlıkların önceden öngörülmesi ve bu öngörüler neticesinde gerekli önlemlerin alınması gerektiğine dikkat çekiyor. CYH Hukuk Arabuluculuk olarak Ticaret Hukuku kapsamında uzman destek sağlamakla birlikte;
              </p>

              <ol>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">•	Ticaret Hukuku kapsamında genel danışmanlık hizmeti,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">•	Ticari ilişkilere yönelik sözleşmelerin hazırlanması,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d">•	İhtar ve diğer hukuki metinlerin hazırlanması.</li>
              </ol>
              <br>
              <p>Gibi Ticaret Hukuku kapsamında ele alınan birçok alanda hizmet vermekteyiz.</p>

              <h3>CYH Hukuk & Arabuluculuk Bürosu Tarafından Ticaret Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
              <p>CYH Hukuk Arabuluculuk olarak Ticaret Hukuku kapsamına giren hemen hemen tüm konularda çeşitli faaliyetler gerçekleştirmekle birlikte şahsi ve kurumsal anlamda danışmanlık ve avukatlık hizmeti sağlamaktayız. Bu konuda oldukça tecrübeli ve birçok kişi ve kurumla geçmişte çalışmalar yürütmüş Avukat Arabulucu Ceren Yılmaz Hyung ve diğer tüm ekip arkadaşlarımızla birlikte sunmuş olduğumuz hizmetlerden bazıları ise şu şekildedir;</p>

              <ol>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Ticari şirketlerin alım ve satımı,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Haksız rekabet,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Şirket yönetimi,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Hisse devir işlemleri, şirket devir ve birleşmeleri,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Ortaklık sözleşmeleri,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Ticaret Hukuku kapsamında danışmanlık hizmeti,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Ticari işletme hukuku,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Şirketler Hukuku,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Tasfiye,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Kıymetli evrak hukuku,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Risk Sermayesi,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Sermaye Piyasaları,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Leasing Sözleşmeleri.</li>
              </ol>

          </div>
      </div>
      <div class="col col-md-4 col-md-pull-8">
          <div class="service-sidebar">
              <div class="widget service-list-widget">
                  <h3>Uzmanlık Alanları</h3>
                  <ul>
                    <li><a href="{% url 'arabuluculuk' %}">Arabuluculuk</a></li>
                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                    <li class="current"><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                    <li><a href="{% url 'fikrimulkiyethukuku' %}">Fikri Mülkiyet Hukuku</a></li>
                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                    <li><a href="{% url 'idarehukuku' %}">İdare Hukuku</a></li>
                    <li><a href="{% url 'yabancilarhukuku' %}">Yabancılar Hukuku</a></li>
                    <li><a href="{% url 'mirashukuku' %}">Miras Hukuku</a></li>
                    <li><a href="{% url 'tuketicihukuku' %}">Tüketici Hukuku</a></li>
                  </ul>
              </div>
              <div class="widget service-list-widget">
                  <h3>Son Hukuki Yayınlarımız</h3>
                  <ul>

                    {% for makale in besmakale %}
                      <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                    {% endfor %}

                  </ul>
              </div>
          </div>
      </div>
  </div>
</div> <!-- end container -->
</section>
<!-- end service-single-section -->

{% endblock %}
