{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block metatags %}
<title>CYH Hukuk | Tüketici Hukuku</title>
<meta name="description" content="CYH Hukuk'un tüketici hukuku alanındaki tüketici müvekkillerine hizmetlerini açıklayan sayfadır.">
{% endblock %}


{% block body %}

<!-- start page-title -->
<section class="page-title">
<div class="container">
  <div class="row">
      <div class="col col-xs-12">
          <div class="title">
              <h2>Tüketici Hukuku</h2>
          </div>
      </div>
  </div> <!-- end row -->
  <ol class="breadcrumb">
      <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
      <li><a href="{% url 'tuketicihukuku' %}">Tüketici Hukuku</a></li>
  </ol>
</div> <!-- end container -->
</section>
<!-- end page-title -->


<!-- start service-single-section -->
<section class="service-single-section section-padding">
<div class="container">
  <div class="row">
      <div class="col col-md-8 col-md-push-4">
          <div class="service-single-content">
              <div class="service-pic">
                  <img src="{% static 'websitesi/images/cyh-hukuk-tuketici-hukuku.png' %}" alt="CYH Hukuk Tüketici Avukatı">
              </div>
              <h2>Tüketici Hukuku</h2>
              <p>İstanbul’da faaliyetlerini sürdüren Avukat Arabulucu Ceren Yılmaz Hyung, tüketicilerin muhatap oldukları işletmeler ile irtibat kurmaların yardımcı olma ve yaşanılan anlaşmazlıkların çözümü için tüketici mahkemeleri ve hakem heyetleri önünde gerçekleştirilecek tamir, değiştirme, iade ve tazminat gibi hakların aranmasına yönelik danışmanlık ve avukatlık hizmetleri vermektedir. Son yıllarda hızla gelişen teknolojik ürünler çerçevesinde tüketicilerin korunmasına yönelik kanun ve mevzuatlar geliştirilerek çok daha geniş kapsamlı bir hale getirilmiştir. CYK Hukuk Arabuluculuk olarak gerçek ve tüzel kişilere ilgili mevzuatlar ve yönetmeliklere dair gerekli bilgilendirmeleri yaparak tarafların kendi haklarını bilmeleri ve uymaları gereken mevzuat ve kanunlar hakkında detaylı danışmanlık sağlamaktayız.</p>

              <h3>Tüketici Hukuku Nedir ?</h3>
              <p>Sanayi devrimi sonrasında sanayinin ve ticaretin hızlı gelişimi, özellikle seri üretim ve seri satış usullerinde yaşanan gelişmeler neticesinde tüketiciler belirli haklara sahip olmuş ve bu haklar doğrultusunda tüketici hukuku gelişim göstermiştir. Bu konuda Avrupa Birliği tarafından Tüketici Haklarına yönelik bir beyanname yayınlanmış olup asgari anlamda tüketicilere sunulması gereken hakların tespiti için çalışma yürütülmüştür. Tüketici Hukuku, ülke ekonomisinin korunabilmesi ve sağlıklı bir ticari hayatın oluşturulabilmesi için oldukça önemli bir yere sahip olmakla birlikte tüketicilere sunulan hakların korunabilmesi ve tüketicilerin ilgili süreci en kolay ve hızlı şekilde sonuca bağlanabilmesi için basit ve anlaşılır başvuru yollarına sahip bir hukuk dalıdır.</p>
              <p>Tüketiciler yaşamış oldukları sorunların çözümü için firmalarla görüşmelerinden bir sonuç çıkaramaması halinde zahmetsiz ve masrafsız bir şekilde tüketici haklarından yararlanmak adına başvurular gerçekleştirebilir. CYK Hukuk Arabuluculuk olarak zengin ve güçlü satıcı/sağlayıcılar karşısında yaşamış olduğunuz sorunlar karşısında tüketicilerin haklarını aramaktan çekinmemesi gerektiğini belirtmek istiyoruz. Haklarınızın yasalar çerçevesinde koruma altında olduğunu ve pozitif bir ayrımcılığa sahip olduğunuzu unutmamalısınız. Avukat Arabulucu Ceren Yılmaz Hyung, tüketicilerin ekonomik yaşantılarının korunabilmesi ve almış oldukları mal ve hizmetlerle ilgili kalite ve ticari düzenin sağlanabilmesi için Tüketici Hukuku içerisinde devamlı bir gelişim ve düzenlemelerin gerçekleştirildiğine dikkat çekerek; tüketicilerin ilgili adli süreç içerisinde ihtiyaç duydukları her türlü danışmanlık ve vekillik hizmetini sağladığını belirtiyor.</p>

              <h3>CYH Hukuk ve Arabuluculkuk Tarafından Tüketici Hukuku Alanında Sağlanan Bazı Hizmetler</h3>
              <p>CYK Hukuk Arabuluculuk olarak Tüketici Hukuku kapsamına giren hemen her konuda; tüketicilerin haklarının en iyi şekilde savunulması, yasalarca korunan hakları konusunda bilgilendirilmesi ve ilgili yasalar çerçevesinde gerekli usuller dahilinde işlemler gerçekleştirilmesi için danışmanlık ve avukatlık hizmeti sağlamaktayız. Bu kapsamda Avukat Arabulucu Ceren Yılmaz Hyung ve diğer büro çalışanlarımızla birlikte sunmuş olduğumuz hizmetlerden bazılarını şu şekilde sıralayabiliriz;
              </p>

              <ol>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Tüketici hakem heyetlerine başvuru,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Devre tatil ve uzun süreli tatil sözleşmelerinden kaynaklanan ihtilaflar,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Banka işlemlerinden kaynaklanan ihtilaflar,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Abonelik sözleşmesi (elektrik, su vs.) kaynaklanan ihtilaflar,</li>
                  <li style="font-family: 'Helvetica'; color: #7d7d7d"> Vekalet sözleşmesinden kaynaklanan ihtilaflar.</li>
              </ol>
              <br>

          </div>
      </div>
      <div class="col col-md-4 col-md-pull-8">
          <div class="service-sidebar">
              <div class="widget service-list-widget">
                  <h3>Uzmanlık Alanları</h3>
                  <ul>
                    <li><a href="{% url 'arabuluculuk' %}">Arabuluculuk</a></li>
                    <li><a href="{% url 'ishukuku' %}">İş ve Sosyal Güvenlik Hukuku</a></li>
                    <li><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></li>
                    <li><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></li>
                    <li><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></li>
                    <li><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></li>
                    <li><a href="{% url 'fikrimulkiyethukuku' %}">Fikri Mülkiyet Hukuku</a></li>
                    <li><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></li>
                    <li><a href="{% url 'idarehukuku' %}">İdare Hukuku</a></li>
                    <li><a href="{% url 'yabancilarhukuku' %}">Yabancılar Hukuku</a></li>
                    <li><a href="{% url 'mirashukuku' %}">Miras Hukuku</a></li>
                    <li class="current"><a href="{% url 'tuketicihukuku' %}">Tüketici Hukuku</a></li>
                  </ul>
              </div>
              <div class="widget service-list-widget">
                  <h3>Son Hukuki Yayınlarımız</h3>
                  <ul>

                    {% for makale in besmakale %}
                      <li><a href="{% url 'makaledetay' makaleslug=makale.makale_slug %}">{{ makale.makale_baslik }}</a></li>
                    {% endfor %}

                  </ul>
              </div>
          </div>
      </div>
  </div>
</div> <!-- end container -->
</section>
<!-- end service-single-section -->

{% endblock %}
