{% extends 'websitesi/components/layout.html' %}
{% load static %}

{% block metatags %}
<title>CYH Hukuk ve Arabuluculuk | Uzmanlık Alanları</title>
<meta name="description" content="CYH Hukuk ve Arabuluculuk bürosunun hukuki uzmanlıklarını anlatan tanıtıcı sayfadır.">
{% endblock %}


{% block body %}


            <!-- start page-title -->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="title">
                            <h2>Uzmanlık Alanları</h2>
                        </div>
                    </div>
                </div> <!-- end row -->
                <ol class="breadcrumb">
                    <li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
                    <li><a href="{% url 'uzmanliklar' %}">Uzmanlık Alanları</a></li>
                </ol>
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->


        <!-- start services-section-s3 -->
        <section class="services-section-s3 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="service-grids clearfix">
                          <div class="grid">
                              <div class="icon">
                                  <i class="fi flaticon-courthouse"></i>
                              </div>
                              <h4><a href="{% url 'arabuluculuk' %}">Arabuluculuk</a></h4>
                              <p>Avukat Arabulucu Ceren Yılmaz Hyung, Arabuluculuk Yapmaktadır.</p>
                          </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-thief-2"></i>
                                </div>
                                <h4><a href="{% url 'cezahukuku' %}">Ceza Hukuku</a></h4>
                                <p>CYH Hukuk Bürosu Ceza Hukukuyla İlgili Sorunlarınızda Yanınızda</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-parents"></i>
                                </div>
                                <h4><a href="{% url 'ailehukuku' %}">Aile Hukuku</a></h4>
                                <p>Av. Arb. Ceren Yılmaz Hyung Aile Hukukunda Hukuki Yardıma Hazır</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-law"></i>
                                </div>
                                <h4><a href="{% url 'idarehukuku' %}">İdare Hukuku</a></h4>
                                <p>İdare Hukuku Sorunlarınızda CYH Hukuk & Arabuluculuk Sizinle</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-thief-1"></i>
                                </div>
                                <h4><a href="{% url 'icrahukuku' %}">İcra ve İflas Hukuku</a></h4>
                                <p>İcra-İflas Takibi ve uyuşmazlıklarınızda CYH Hukuk Ekibi Yanınızda</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-briefcase"></i>
                                </div>
                                <h4><a href="{% url 'ishukuku' %}">İş Hukuku</a></h4>
                                <p>İşçi veya İşveren Tarafında Tüm Hukuki Sorunlarınızda Yanınızdayız</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-laptop"></i>
                                </div>
                                <h4><a href="{% url 'ticarethukuku' %}">Ticaret Hukuku</a></h4>
                                <p>Tüm Ticari Davalarda CYH Hukuk & Arabuluculuk Danışmanlık İçin Hazır</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-diploma"></i>
                                </div>
                                <h4><a href="{% url 'sozlesmelerhukuku' %}">Sözleşmeler Hukuku</a></h4>
                                <p>Sözleşme Düzenlenmesi ve Uyuşmazlık Çözümlerinizde Yanınızda</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-auction"></i>
                                </div>
                                <h4><a href="{% url 'fikrimulkiyethukuku' %}">Fikri Mülkiyet Hukuku</a></h4>
                                <p>Fikri Mülkiyet Sorunlarınızda Hukuki Danışmanlık İçin CYH Hukuk Burada</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-balance-1"></i>
                                </div>
                                <h4><a href="{% url 'yabancilarhukuku' %}">Yabancılar Hukuku</a></h4>
                                <p>Yurtiçi ve Yurtdışı Hukuki Sorunlarınızda CYH Hukuk Yanınızda</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-law-book"></i>
                                </div>
                                <h4><a href="{% url 'mirashukuku' %}">Miras Hukuku</a></h4>
                                <p>Miras Hukukunu İlgilendiren Uyuşmazlık Çözümlerinizde Yanınızda</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-loupe"></i>
                                </div>
                                <h4><a href="{% url 'tuketicihukuku' %}">Tüketici Hukuku</a></h4>
                                <p>Tüketici Davalarınızda CYH Hukuk & Arabuluculuk Burada</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end services-section-s3 -->

{% endblock %}
