/*--------------------------------------------------------------
	#home style 2
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#2.1	features-section
--------------------------------------------------------------*/
.features-section {
	background-color: #f8f8f8;

	.feature-grids {
		overflow: hidden;
		margin: 0 -15px;
	}

	.feature-grids .grid {
		background: #f8f8f8;
		width: 33.33%;
		float: left;
		padding: 60px 35px 58px 100px;
		position: relative;

		@include media-query(1199px) {
			padding: 60px 30px 58px 85px;
		}

		@include media-query(991px) {
			width: 100%;
			padding: 40px 30px 38px 95px;
			float: none;
		}
	}

	.feature-grids > .grid + .grid {
		@include media-query(991px) {
			border-top: 1px solid #e6e6e6;
		}
	}

	.feature-grids > .grid:nth-child(2) {
		background: #f1f1f1;

		@include media-query(991px) {
			background: #f8f8f8;
		}
	}

	.grid .icon {
		position: absolute;
		left: 30px;
		top: 55px;

		@include media-query(1199px) {
			left: 25px;
		}

		@include media-query(991px) {
			top: 35px;
		}

		i:before {
			font-size: 45px;
			font-size: calc-rem-value(45);
			color: $theme-primary-color;
		}
	}

	.grid h3 {
		font-size: 24px;
		font-size: calc-rem-value(24);
		line-height: 1.3em;
		margin: 0 0 0.6em;

		@include media-query(1199px) {
			font-size: 22px;
			font-size: calc-rem-value(22);
		}

		@include media-query(767px) {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}
	}

	.grid p {
		font-size: 18px;
		font-size: calc-rem-value(18);
		margin: 0;

		@include media-query(1199px) {
			font-size: 16px;
			font-size: calc-rem-value(16);
		}
	}
}


/*--------------------------------------------------------------
#2.2	about-section-s2
--------------------------------------------------------------*/
.about-section-s2 {

	.title-text h2 {
		font-size: 36px;
		font-size: calc-rem-value(36);
		line-height: 1.2em;
		margin: 5px 0 0.6em;
		text-transform: capitalize;

		@include media-query(1199px) {
			font-size: 30px;
			font-size: calc-rem-value(30);
		}

		@include media-query(767px) {
			font-size: 25px;
			font-size: calc-rem-value(25);
		}
	}

	.title-text h2:first-letter {
		font-size: 120px;
		font-size: calc-rem-value(120);
		color: $theme-primary-color;
		float: left;
		margin-right: 10px;
		line-height: 0.5em;

		@include media-query(1199px) {
			font-size: 100px;
			font-size: calc-rem-value(100);
		}

		@include media-query(767px) {
			font-size: 80px;
			font-size: calc-rem-value(80);
		}
	}

	.title-text p {
		font-size: 14px;
		font-size: calc-rem-value(14);
		font-weight: normal;
		color: $theme-primary-color;
		letter-spacing: 6px;
		margin: 0;
		text-transform: uppercase;

		@include media-query(1199px) {
			letter-spacing: 4px;
		}

		@include media-query(767px) {
			font-size: 12px;
			font-size: calc-rem-value(12);
		}
	}

	.about-title > p {
		font-size: 22px;
		font-size: calc-rem-value(22);
		font-style: italic;
		line-height: 1.67em;
		margin: 2em 0 1.2em;

		@include media-query(991px) {
			font-size: 20px;
			font-size: calc-rem-value(20);
		}
	}

	.about-text {
		position: relative;
		padding: 0 0 0 100px;

		@include media-query(1199px) {
			padding: 0 0 0 30px;
		}

		@include media-query(991px) {
			padding: 10px 0 0;
		}

		@include media-query(767px) {
			padding: 0;
		}

		.content {
			position: relative;
			z-index: 10;
		}

		p {
			font-size: 18px;
			font-size: calc-rem-value(18);
			margin-bottom: 1.5em;

			@include media-query(1199px) {
				font-size: 16px;
				font-size: calc-rem-value(16);
			}
		}
	}

	.theme-btn-s2 {
		margin-top: 20px;

		@include media-query(991px) {
			margin-top: 10px;
		}
	}
}


/*--------------------------------------------------------------
#2.3	services-section-s2
--------------------------------------------------------------*/
.services-section-s2 {
	@extend .services-section;
	padding-bottom: 85px;

	@include media-query(991px) {
		padding-bottom: 75px;
	}

	&:before {
		display: none;
	}

	.service-grids {
		overflow: hidden;
		margin: -15px;

		.grid {
			width: calc(33.33% - 30px);
			float: left;
			margin: 0 15px 30px;

			@include media-query(991px) {
				width: calc(50% - 30px);
			}

			@include media-query(600px) {
				width: calc(100% - 30px);
				float: none;
			}
		}

		.grid:hover {
			background-color: $theme-secondary-color;
		}
	}
}


/*--------------------------------------------------------------
#2.4	testimonials-section-2
--------------------------------------------------------------*/
.testimonials-section-2 {
	@extend .testimonials-section;

	.grid .details {
		width: calc(100% - 348px);
		min-height: auto;
		float: right;
		padding-left: 100px;
		padding-top: 29px;

		@include media-query(1199px) {
			padding-left: 70px;
		}

		@include media-query(991px) {
			width: calc(100% - 300px);
			padding-left: 55px;
			min-height: auto;
			padding-top: 0;
		}

		@include media-query(767px) {
			width: 100%;
			min-height: auto;
			float: none;
			padding: 40px 0 0 0;

		}
	}

	.client-pic img {
		border-radius: 50%;
	}

	.client-pic {
		@include media-query(767px) {
			margin: 0 auto;
		}
	}

	.client-pic:before {
		display: none;
	}

	@include media-query(767px) {
		text-align: center;
	}
}


/*--------------------------------------------------------------
#2.5	contact-section-s2
--------------------------------------------------------------*/
.contact-section-s2 {
	@extend .contact-section;
	padding-bottom: 100px;

	@include media-query(991px) {
		padding-bottom: 90px;
	}

	@include media-query(767px) {
		padding-bottom: 80px;
	}

	.contact-content {
		background-color: transparentize($theme-secondary-color, 0.1);
		padding: 80px 80px 35px;

		@include media-query(991px) {
			padding: 50px 50px 5px;
		}

		@include media-query(767px) {
			padding: 40px 30px 10px;
		}
	}

	.contact-content .text {
		padding-right: 200px;

		@include media-query(1199px) {
			padding-right: 150px;
		}

		@include media-query(767px) {
			padding-right: 0;
		}
	}
}


/*--------------------------------------------------------------
#2.6	contact-section-s2
--------------------------------------------------------------*/
.case-studies-section-s2 {
	.recent-cases-thumbs-outer {
		overflow: hidden;
	}

	.recent-case-thumb {
		width: 33.33%;
		float: left;
		position: relative;

		@include media-query(991px) {
			width: 50%;
		}

		@include media-query(500px) {
			width: 100%;
			float: none;
		}
	}

	.recent-case-thumb .overlay-text {
		background: transparentize($theme-secondary-color, 0.1);
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		position: absolute;
		left: -30%;
		top: 6px;
		opacity: 0;
		visibility: hidden;
		@include transition-time(0.5s);
	}

	.recent-case-thumb:hover .overlay-text {
		opacity: 1;
		visibility: visible;
		left: 6px;
	}

	.overlay-text .text-inner {
		width: 100%;
		text-align: center;
		padding: 0 10px;
		position: absolute;
		left: 0;
		top: 50%;
		@include translatingY();

		.cat {
			font-size: 14px;
			font-size: calc-rem-value(14);
			font-weight: normal;
			color: $theme-primary-color;
			text-transform: uppercase;
			margin: 0;
		}

		h3 {
			font-size: 22px;
			font-size: calc-rem-value(22);
			margin: 0.4em 0 0;

			@include media-query(767px) {
				font-size: 18px;
				font-size: calc-rem-value(18);
			}

		}

		h3 a {
			color: $white;
		}

		h3 a:hover {
			color: $theme-primary-color;
		}
	}
}